
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">@Html.ActionLink("Customers", "Index", "Customers")</li>
                <li class="nav-item">@Html.ActionLink("Movies", "Index", "Movie")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>